<%# ***** lists/_form のパーシャル ***** %>
<%# ***** 入力フォームセクション ***** %>
<%= form_with model: @list, local: true do |f| %>
<%# ***** 「form_with model: @list, local: true do |f|」：画面へ値を出力する式 ***** %>
<%# ***** 条件分岐セクション ***** %>
<%# ***** エラーメッセージ表示セクション ***** %>
  <% if @list.errors.any? %>
  <%# ***** 「if 【条件式】」：【条件式】が true の場合、以下の処理を実行する ***** %>
    <div class="alert alert-danger">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <ul class="mb-0">
      <%# ***** 「<ul>」：順序なしリスト要素 ***** %>
      <%# ***** 一覧ループセクション ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <% @list.errors.full_messages.each do |message| %>
        <%# ***** 「@list.errors.full_messages.each do |message|」：Ruby式を実行する処理 ***** %>
        <%# ***** 「each do |message|」: コレクションを順番に処理し、|message| で現在要素を受け取る反復構文 ***** %>
        <%# ***** 「@list.errors.full_messages」：処理対象となるコレクション ***** %>
        <%# ***** 「|message|」：各反復で取り出した要素を受け取るブロック引数 ***** %>
        <%# ***** 「each」：コレクションを順に処理するループ ***** %>
          <li><%= message %></li>
          <%# ***** 「<li>【内容】</li>」：リスト項目要素 ***** %>
        <% end %>
        <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
      </ul>
      <%# ***** 「<ul>【内容】</ul>」：順序なしリスト要素 ***** %>
    </div>
    <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
  <% end %>
  <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>

  <div class="form-group">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <%= f.label :title, 'リスト名' %>
    <%# ***** 「f.label :title, 'リスト名'」：画面へ値を出力する式 ***** %>
    <%# ***** フォーム入力欄セクション ***** %>
    <%= f.text_field :title, class: 'form-control' %>
    <%# ***** 「f.text_field :title, class: 'form-control'」：画面へ値を出力する式 ***** %>
  </div>
  <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>

  <div class="form-group">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <%= f.label :description, '説明' %>
    <%# ***** 「f.label :description, '説明'」：画面へ値を出力する式 ***** %>
    <%= f.text_area :description, class: 'form-control', rows: 4 %>
    <%# ***** 「f.text_area :description, class: 'form-control', rows: 4」：画面へ値を出力する式 ***** %>
  </div>
  <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>

  <div class="form-group">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <%= f.label :visibility, '公開設定' %>
    <%# ***** 「f.label :visibility, '公開設定'」：画面へ値を出力する式 ***** %>
    <%= f.select :visibility,
                 [['非公開', 'private_list'], ['全体公開', 'public_list']],
                 {},
                 class: 'form-control' %>
  </div>
  <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>

  <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
  <%# ***** 送信ボタンセクション ***** %>
  <%= f.submit class: 'btn btn-primary' %>
  <%# ***** 「f.submit class: 'btn btn-primary'」：画面へ値を出力する式 ***** %>
<% end %>
<%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
