<%# ***** admin/comments/index のビュー ***** %>
<div class="container mt-4">
<%# ***** 「<div>」：汎用コンテナ要素 ***** %>
<%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
  <h1>コメント管理</h1>
  <%# ***** 「<h1>【内容】</h1>」：見出し要素 ***** %>

  <%= search_form_for @q, url: admin_comments_path do |f| %>
  <%# ***** 「search_form_for @q, url: admin_comments_path do |f|」：画面へ値を出力する式 ***** %>
    <div class="row mb-3">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <div class="col-md-4">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= f.label :body_cont, 'コメント本文検索' %>
        <%# ***** 「f.label :body_cont, 'コメント本文検索'」：画面へ値を出力する式 ***** %>
        <%# ***** フォーム入力欄セクション ***** %>
        <%= f.search_field :body_cont, class: 'form-control', placeholder: 'コメント内容で検索' %>
        <%# ***** 「f.search_field :body_cont, class: 'form-control', placeholder: 'コメント内容で検索'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
      <div class="col-md-4">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= f.label :user_name_cont, 'ユーザー名検索' %>
        <%# ***** 「f.label :user_name_cont, 'ユーザー名検索'」：画面へ値を出力する式 ***** %>
        <%= f.search_field :user_name_cont, class: 'form-control', placeholder: 'ユーザー名で検索' %>
        <%# ***** 「f.search_field :user_name_cont, class: 'form-control', placeholder: 'ユーザー名で検索'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
      <div class="col-md-4">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= f.label :post_title_cont, '投稿タイトル検索' %>
        <%# ***** 「f.label :post_title_cont, '投稿タイトル検索'」：画面へ値を出力する式 ***** %>
        <%= f.search_field :post_title_cont, class: 'form-control', placeholder: '投稿タイトルで検索' %>
        <%# ***** 「f.search_field :post_title_cont, class: 'form-control', placeholder: '投稿タイトルで検索'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
    </div>
    <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
    <div class="mb-3">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 送信ボタンセクション ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <%= f.submit '検索', class: 'btn btn-primary' %>
      <%# ***** 「f.submit '検索', class: 'btn btn-primary'」：画面へ値を出力する式 ***** %>
      <%= link_to 'リセット', admin_comments_path, class: 'btn btn-secondary' %>
      <%# ***** 「link_to 'リセット', admin_comments_path, class: 'btn btn-secondary'」：画面へ値を出力する式 ***** %>
    </div>
    <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
  <% end %>
  <%# ***** 「end」：Ruby式を実行する処理 ***** %>
  <%# ***** 一覧テーブルセクション ***** %>
  <table class="table table-striped">
  <%# ***** 「<table>」：テーブル要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <thead>
    <%# ***** 「<thead>」：テーブル見出し要素 ***** %>
      <tr>
      <%# ***** 「<tr>」：テーブル行要素 ***** %>
        <th>ID</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>コメント内容</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>投稿者</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>投稿</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>作成日</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>操作</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
      </tr>
      <%# ***** 「<tr>【内容】</tr>」：表の行要素 ***** %>
    </thead>
    <%# ***** 「<thead>【内容】</thead>」：表ヘッダー要素 ***** %>
    <tbody>
    <%# ***** 「<tbody>」：テーブル本文要素 ***** %>
    <%# ***** 一覧ループセクション ***** %>
      <% @comments.each do |comment| %>
      <%# ***** 「@comments.each do |comment|」：Ruby式を実行する処理 ***** %>
      <%# ***** 「each do |comment|」: コレクションを順番に処理し、|comment| で現在要素を受け取る反復構文 ***** %>
      <%# ***** 「@comments」：処理対象となるコレクション ***** %>
      <%# ***** 「|comment|」：各反復で取り出した要素を受け取るブロック引数 ***** %>
      <%# ***** 「each」：コレクションを順に処理するループ ***** %>
        <tr>
        <%# ***** 「<tr>」：テーブル行要素 ***** %>
          <td><%= comment.id %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td><%= truncate(comment.body, length: 50) %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td><%= link_to comment.user.name, admin_user_path(comment.user) %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td><%= link_to truncate(comment.post.title, length: 30), post_path(comment.post) %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td>
          <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
            <%= link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
            <%# ***** 「link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger'」：画面へ値を出力する式 ***** %>
          </td>
          <%# ***** 「<td>【内容】</td>」：表のデータセル要素 ***** %>
        </tr>
        <%# ***** 「<tr>【内容】</tr>」：表の行要素 ***** %>
      <% end %>
      <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
    </tbody>
    <%# ***** 「<tbody>【内容】</tbody>」：表本体要素 ***** %>
  </table>
  <%# ***** 「<table>【内容】</table>」：表要素 ***** %>

  <%= paginate @comments %>
  <%# ***** 「paginate @comments」：画面へ値を出力する式 ***** %>
</div>
<%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
