<%# ***** groups/new のビュー ***** %>
<div class="container mt-4">
<%# ***** div：汎用コンテナ要素 ***** %>
  <h1>新規グループ作成</h1>

  <%# ***** 入力フォームセクション ***** %>
  <%= form_with(model: @group, local: true) do |f| %>
  <%# ***** エラーメッセージ表示セクション ***** %>
  <%# ***** 条件分岐セクション ***** %>
    <% if @group.errors.any? %>
    <%# ***** 「if (【条件】)」: 【条件】を判定する条件分岐 ***** %>
    <%# ***** if：条件を判定する分岐 ***** %>
      <div class="alert alert-danger">
      <%# ***** div：汎用コンテナ要素 ***** %>
        <h4><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h4>
        <%# ***** h4：見出し要素 ***** %>
        <ul>
        <%# ***** 一覧ループセクション ***** %>
          <% @group.errors.full_messages.each do |message| %>
          <%# ***** 「each do |【要素】|」: コレクションを順番に処理し、|【要素】| で現在要素を受け取る反復構文 ***** %>
          <%# ***** 「@group.errors.full_messages」：処理対象となるコレクション ***** %>
          <%# ***** 「|message|」：各反復で取り出した要素を受け取るブロック引数 ***** %>
          <%# ***** each：コレクションを順に処理するループ ***** %>
            <li><%= message %></li>
            <%# ***** li：リスト項目要素 ***** %>
          <% end %>
        </ul>
        <%# ***** </ul>：ulタグ（順序なしリスト要素）の終了 ***** %>
      </div>
      <%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>
    <% end %>

    <div class="form-group">
    <%# ***** div：汎用コンテナ要素 ***** %>
      <%= f.label :name, 'グループ名' %>
      <%# ***** フォーム入力欄セクション ***** %>
      <%= f.text_field :name, class: 'form-control', placeholder: '例: Ruby on Rails' %>
    </div>
    <%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>

    <div class="form-group">
    <%# ***** div：汎用コンテナ要素 ***** %>
      <%= f.label :description, '説明' %>
      <%= f.text_area :description, class: 'form-control', rows: 5, placeholder: 'このグループについて説明してください' %>
    </div>
    <%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>

    <div class="actions mt-4">
    <%# ***** 送信ボタンセクション ***** %>
      <%= f.submit '作成', class: 'btn btn-primary' %>
      <%= link_to 'キャンセル', groups_path, class: 'btn btn-secondary' %>
    </div>
    <%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>
  <% end %>
</div>
<%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>
