<%# ***** users/edit のビュー ***** %>
<div class="container mt-5">
<%# ***** 「<div>」：汎用コンテナ要素 ***** %>
<%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
  <div class="row">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <div class="col-lg-6 offset-lg-3">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <div class="card shadow-sm">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <div class="card-header bg-primary text-white">
        <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
          <h5 class="mb-0"><i class="fas fa-user-edit"></i> プロフィール編集</h5>
          <%# ***** 「<h5>【内容】</h5>」：見出し要素 ***** %>
        </div>
        <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
        <div class="card-body">
        <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
        <%# ***** 条件分岐セクション ***** %>
<%# ***** エラーメッセージ表示セクション ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
          <% if @user.errors.any? %>
          <%# ***** 「if @user.errors.any?」：Ruby式を実行する処理 ***** %>
          <%# ***** 「if (@user.errors.any?)」: @user.errors.any?を判定する条件分岐 ***** %>
          <%# ***** 「if」：条件を判定する分岐 ***** %>
            <div class="alert alert-danger">
            <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
            <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
              <ul class="mb-0">
              <%# ***** 「<ul>」：順序なしリスト要素 ***** %>
              <%# ***** 一覧ループセクション ***** %>
              <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
                <% @user.errors.full_messages.each do |message| %>
                <%# ***** 「@user.errors.full_messages.each do |message|」：Ruby式を実行する処理 ***** %>
                <%# ***** 「each do |message|」: コレクションを順番に処理し、|message| で現在要素を受け取る反復構文 ***** %>
                <%# ***** 「@user.errors.full_messages」：処理対象となるコレクション ***** %>
                <%# ***** 「|message|」：各反復で取り出した要素を受け取るブロック引数 ***** %>
                <%# ***** 「each」：コレクションを順に処理するループ ***** %>
                  <li><%= message %></li>
                  <%# ***** 「<li>【内容】</li>」：リスト項目要素 ***** %>
                <% end %>
                <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
              </ul>
              <%# ***** 「</ul>」：ulタグ（順序なしリスト要素）の終了 ***** %>
            </div>
            <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
          <% end %>
          <%# ***** 「end」：Ruby式を実行する処理 ***** %>
          <%# ***** 入力フォームセクション ***** %>
          <%= form_with model: @user, local: true do |f| %>
          <%# ***** 「form_with model: @user, local: true do |f|」：画面へ値を出力する式 ***** %>
            <div class="form-group">
            <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
            <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
              <%= f.label :name, 'ユーザー名' %>
              <%# ***** 「f.label :name, 'ユーザー名'」：画面へ値を出力する式 ***** %>
              <%# ***** フォーム入力欄セクション ***** %>
              <%= f.text_field :name, class: 'form-control', required: true %>
              <%# ***** 「f.text_field :name, class: 'form-control', required: true」：画面へ値を出力する式 ***** %>
            </div>
            <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>

            <div class="form-group">
            <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
            <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
              <%= f.label :email, 'メールアドレス' %>
              <%# ***** 「f.label :email, 'メールアドレス'」：画面へ値を出力する式 ***** %>
              <%= f.email_field :email, class: 'form-control', required: true %>
              <%# ***** 「f.email_field :email, class: 'form-control', required: true」：画面へ値を出力する式 ***** %>
            </div>
            <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>

            <div class="d-flex justify-content-between mt-4">
            <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
            <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
              <%= link_to '戻る', user_path(@user), class: 'btn btn-outline-secondary' %>
              <%# ***** 「link_to '戻る', user_path(@user), class: 'btn btn-outline-secondary'」：画面へ値を出力する式 ***** %>
              <%# ***** 送信ボタンセクション ***** %>
              <%= f.submit '更新する', class: 'btn btn-primary' %>
              <%# ***** 「f.submit '更新する', class: 'btn btn-primary'」：画面へ値を出力する式 ***** %>
            </div>
            <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
          <% end %>
          <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
        </div>
        <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
      </div>
      <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
    </div>
    <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
  </div>
  <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
</div>
<%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
<%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
