

<%# ===== ログイン画面見出し（開始） ===== %>
<%# ***** 「# ===== ログイン画面見出し（開始） =====」：出力式/式 ***** %>
<h2>ログイン</h2>
<%# ***** 「<h2>」：HTMLタグ ***** %>
<%# ***** 「<h2>」：HTMLの見出し要素（ログイン画面タイトル） ***** %>
<%# ***** 「# ***** 「<h2>」：HTMLの見出し要素（ログイン画面タイトル） *****」：出力式/式 ***** %>
<%# ===== ログイン画面見出し（終了） ===== %>
<%# ***** 「# ===== ログイン画面見出し（終了） =====」：出力式/式 ***** %>


<%# ===== ログインフォーム（開始） ===== %>
<%# ***** 「# ===== ログインフォーム（開始） =====」：出力式/式 ***** %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%# ***** 「form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|」：出力式/式 ***** %>
<%# ***** 「form_for(【モデル】, 【オプション】) do |【変数】|」：フォームを生成するRailsのヘルパーメソッド ***** %>
<%# ***** 「# ***** 「form_for(【モデル】, 【オプション】) do |【変数】|」：フォームを生成するRailsのヘルパーメソッド *****」：出力式/式 ***** %>
<%# ***** 「as: 【シンボル】」：フォームのパラメータ名を指定するオプション ***** %>
<%# ***** 「# ***** 「as: 【シンボル】」：フォームのパラメータ名を指定するオプション *****」：出力式/式 ***** %>
<%# ***** 「url: 【パス】」：フォームの送信先URLを指定するオプション ***** %>
<%# ***** 「# ***** 「url: 【パス】」：フォームの送信先URLを指定するオプション *****」：出力式/式 ***** %>
<%# ***** 「do |【変数】|」：フォーム操作用の変数（ブロック変数）を定義 ***** %>
<%# ***** 「# ***** 「do |【変数】|」：フォーム操作用の変数（ブロック変数）を定義 *****」：出力式/式 ***** %>
<%# ***** 「resource」：Deviseで使用されるモデルのインスタンス（ユーザー情報） ***** %>
<%# ***** 「# ***** 「resource」：Deviseで使用されるモデルのインスタンス（ユーザー情報） *****」：出力式/式 ***** %>
<%# ***** 「resource_name」：Deviseで定義されたモデル名（例：user） ***** %>
<%# ***** 「# ***** 「resource_name」：Deviseで定義されたモデル名（例：user） *****」：出力式/式 ***** %>
<%# ***** 「session_path(resource_name)」：ログイン処理を行うURL（Deviseのルーティング） ***** %>
<%# ***** 「# ***** 「session_path(resource_name)」：ログイン処理を行うURL（Deviseのルーティング） *****」：出力式/式 ***** %>
<%# ***** 「f」：フォームビルダーとして使用する変数 ***** %>
<%# ***** 「# ***** 「f」：フォームビルダーとして使用する変数 *****」：出力式/式 ***** %>


  <%# ===== メールアドレス入力欄（開始） ===== %>
  <div class="field">
    <%# ***** 「<div>」：HTMLのブロック要素の開始（入力フィールド用） ***** %>
    <%= f.label :email %><br />
    <%# ***** 「f.label :email」：メールアドレス用ラベル表示 ***** %>
    <%# ***** 「<br />」：改行 ***** %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%# ***** 「f.email_field :email, autofocus: true, autocomplete: 'email'」：メールアドレス入力フィールド ***** %>
    <%# ***** 「autofocus: true」：自動でフォーカス ***** %>
    <%# ***** 「autocomplete: 'email'」：メール用自動補完 ***** %>
    <%# ***** 「<br />」：改行 ***** %>
  </div>
  <%# ***** 「</div>」：HTMLのブロック要素の終了 ***** %>
  <%# ===== メールアドレス入力欄（終了） ===== %>



  <%# ===== パスワード入力欄（開始） ===== %>
  <div class="field">
    <%# ***** 「<div>」：HTMLのブロック要素の開始（入力フィールド用） ***** %>
    <%= f.label :password %><br />
    <%# ***** 「f.label :password」：パスワード用ラベル表示 ***** %>
    <%# ***** 「<br />」：改行 ***** %>
    <%= f.password_field :password, autocomplete: "current-password" %>
    <%# ***** 「f.password_field :password, autocomplete: 'current-password'」：パスワード入力フィールド ***** %>
    <%# ***** 「autocomplete: 'current-password'」：パスワード用自動補完 ***** %>
    <%# ***** 「<br />」：改行 ***** %>
  </div>
  <%# ***** 「</div>」：HTMLのブロック要素の終了 ***** %>
  <%# ===== パスワード入力欄（終了） ===== %>



  <%# ===== ログイン状態保持欄（開始） ===== %>
  <%# ***** 「devise_mapping.rememberable?」：ログイン状態保持機能の有無判定 ***** %>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%# ***** 「<div>」：HTMLのブロック要素の開始（チェックボックス用） ***** %>
      <%= f.check_box :remember_me %>
      <%# ***** 「f.check_box :remember_me」：ログイン状態保持のチェックボックス ***** %>
      <%= f.label :remember_me %>
      <%# ***** 「f.label :remember_me」：チェックボックス用ラベル ***** %>
    </div>
    <%# ***** 「</div>」：HTMLのブロック要素の終了 ***** %>
  <% end -%>
  <%# ===== ログイン状態保持欄（終了） ===== %>


  <%# ===== ログインボタン（開始） ===== %>
  <div class="actions">
    <%# ***** 「<div>」：HTMLのブロック要素の開始（ボタン用） ***** %>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
    <%# ***** 「f.submit 'ログイン', class: 'btn btn-primary'」：フォーム送信ボタン ***** %>
    <%# ***** 「class: 'btn btn-primary'」：Bootstrapのボタンスタイル ***** %>
  </div>
  <%# ***** 「</div>」：HTMLのブロック要素の終了 ***** %>
  <%# ===== ログインボタン（終了） ===== %>



<%# ===== ログインフォーム（終了） ===== %>
<%# ***** 「# ===== ログインフォーム（終了） =====」：出力式/式 ***** %>
<% end %>
<%# ***** 「end」：ブロック終了 ***** %>


</div>
<%# ===== ゲストログインボタンエリア（開始） ===== %>
<%# ***** 「# ===== ゲストログインボタンエリア（開始） =====」：出力式/式 ***** %>
<div style="margin-top: 20px;">
<%# ***** 「<div>」：HTMLタグ ***** %>
  <%# ***** 「<div>」：HTMLのブロック要素の開始 ***** %>
  <%# ***** 「style="margin-top: 20px;"」：上方向に20pxの余白を追加するCSS指定 ***** %>
  <%= link_to 'ゲストログイン', guest_sign_in_path, method: :post, class: 'btn btn-info btn-lg' %>
  <%# ***** 「link_to "【文字列】", 【パス】, オプション」：リンク(aタグ)を生成するRailsのヘルパーメソッド ***** %>
  <%# ***** 「"ゲストログイン"」：ボタンに表示されるテキスト ***** %>
  <%# ***** 「guest_sign_in_path」：ボタン押下時に遷移するURL(ルーティングで定義) ***** %>
  <%# ***** 「method: :post」：POSTリクエストとして送信(ログイン処理のため) ***** %>
  <%# ***** 「class: 'btn btn-info btn-lg'」：Bootstrapのボタンスタイル(色・サイズ)を適用 ***** %>
</div>
<%# ***** 「</div>」：HTMLのブロック要素の終了 ***** %>
<%# ***** 「# ***** 「</div>」：HTMLのブロック要素の終了 *****」：出力式/式 ***** %>
<%# ===== ゲストログインボタンエリア（終了） ===== %>
<%# ***** 「# ===== ゲストログインボタンエリア（終了） =====」：出力式/式 ***** %>
</div>
<%# 「</div>」：HTMLのブロック要素の終了 %>
<%# ***** 「# 「</div>」：HTMLのブロック要素の終了」：出力式/式 ***** %>
<%# ===== ゲストログインボタンエリア（終了） ===== %>
<%# ***** 「# ===== ゲストログインボタンエリア（終了） =====」：出力式/式 ***** %>


<%# ===== パスワード再設定・新規登録等へのリンク集（開始） ===== %>
<%# ***** 「# ===== パスワード再設定・新規登録等へのリンク集（開始） =====」：出力式/式 ***** %>
<%= render "devise/shared/links" %>
<%# ***** 「render "devise/shared/links"」：出力式/式 ***** %>
<%# ***** 「render \"【パーシャルパス】\"」：指定したパーシャル（部分テンプレート）を読み込んで表示するヘルパーメソッド ***** %>
<%# ***** 「# ***** 「render \"【パーシャルパス】\"」：指定したパーシャル（部分テンプレート）を読み込んで表示するヘルパーメソッド *****」：出力式/式 ***** %>
<%# ***** 「\"devise/shared/links\"」：Deviseが用意しているリンク集のパーシャル（パスワード再設定・新規登録などへのリンクを含む） ***** %>
<%# ***** 「# ***** 「\"devise/shared/links\"」：Deviseが用意しているリンク集のパーシャル（パスワード再設定・新規登録などへのリンクを含む） *****」：出力式/式 ***** %>
<%# ===== パスワード再設定・新規登録等へのリンク集（終了） ===== %>
<%# ***** 「# ===== パスワード再設定・新規登録等へのリンク集（終了） =====」：出力式/式 ***** %>