<%# ***** posts/tagged のビュー ***** %>
<div class="container px-5 px-sm-0 mt-4">
<%# ***** 「<div>」：汎用コンテナ要素 ***** %>
<%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
  <div class="row">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <div class="col-md-12">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <h2>タグ検索: <span class="badge badge-info"><%= params[:tag] %></span></h2>
      <%# ***** 「<h2>【内容】</h2>」：見出し要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>

      <%# ***** 「<h2>【内容】</h2>」：見出し要素 ***** %>
      <%# ***** 検索フォーム ***** %>
      <%= render 'search_form' %>
      <%# ***** 「render 'search_form'」：画面へ値を出力する式 ***** %>
      <%# ***** 条件分岐セクション ***** %>
      <% if @tag && @posts.any? %>
      <%# ***** 「if @tag && @posts.any?」：Ruby式を実行する処理 ***** %>
      <%# ***** 「if (@tag && @posts.any?)」: @tag && @posts.any?を判定する条件分岐 ***** %>

      <%# ***** 「if」：条件を判定する分岐 ***** %>
        <p class="text-muted"><%= @posts.count %> 件の投稿が見つかりました。</p>
        <%# ***** 「<p>【内容】</p>」：段落要素 ***** %>
        <%# ***** 一覧テーブルセクション ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <table class="table table-hover">
        <%# ***** 「<table>」：テーブル要素 ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
          <thead>
          <%# ***** 「<thead>」：テーブル見出し要素 ***** %>
            <tr>
            <%# ***** 「<tr>」：テーブル行要素 ***** %>
              <th>投稿日時</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              <th>ユーザー</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              <th>タイトル</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              <th>本文</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              <th>ステータス</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              <th>タグ</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              <th>操作</th>
              <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
            </tr>
            <%# ***** 「</tr>」：trタグ（テーブル行要素）の終了 ***** %>
          </thead>
          <%# ***** 「</thead>」：theadタグ（テーブル見出し要素）の終了 ***** %>
          <tbody>
          <%# ***** 「<tbody>」：テーブル本文要素 ***** %>
          <%# ***** 一覧ループセクション ***** %>
            <% @posts.each do |post| %>
            <%# ***** 「@posts.each do |post|」：Ruby式を実行する処理 ***** %>
            <%# ***** 「each do |post|」: コレクションを順番に処理し、|post| で現在要素を受け取る反復構文 ***** %>
            <%# ***** 「@posts」：処理対象となるコレクション ***** %>
            <%# ***** 「|post|」：各反復で取り出した要素を受け取るブロック引数 ***** %>

            <%# ***** 「each」：コレクションを順に処理するループ ***** %>
              <tr>
              <%# ***** 「<tr>」：テーブル行要素 ***** %>
                <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
                <td><%= link_to(post.user.name.presence || '未設定', user_path(post.user)) %></td>
                <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
                <td><%= link_to post.title, post_path(post) %></td>
                <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
                <td><%= truncate(post.body, length: 50) %></td>
                <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
                <td>
                <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
                  <% if post.published? %>
                  <%# ***** 「if post.published?」：Ruby式を実行する処理 ***** %>
                  <%# ***** 「if (post.published?)」: post.published?を判定する条件分岐 ***** %>

                  <%# ***** 「if」：条件を判定する分岐 ***** %>
                    <span class="badge badge-success">公開</span>
                    <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
                    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
                  <% else %>
                  <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>

                  <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>
                    <span class="badge badge-secondary">下書き</span>
                    <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
                    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
                  <% end %>
                  <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
                </td>
                <%# ***** 「</td>」：tdタグ（テーブルデータセル要素）の終了 ***** %>
                <td>
                <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
                  <% if post.respond_to?(:tags) %>
                  <%# ***** 「if post.respond_to?(:tags)」：Ruby式を実行する処理 ***** %>
                  <%# ***** 「if (post.respond_to?(:tags))」: post.respond_to?(:tags)を判定する条件分岐 ***** %>

                  <%# ***** 「if」：条件を判定する分岐 ***** %>
                    <% post.tags.each do |tag| %>
                    <%# ***** 「post.tags.each do |tag|」：Ruby式を実行する処理 ***** %>
                    <%# ***** 「each do |tag|」: コレクションを順番に処理し、|tag| で現在要素を受け取る反復構文 ***** %>
                    <%# ***** 「post.tags」：処理対象となるコレクション ***** %>
                    <%# ***** 「|tag|」：各反復で取り出した要素を受け取るブロック引数 ***** %>

                    <%# ***** 「each」：コレクションを順に処理するループ ***** %>
                      <span class="badge badge-info">
                      <%# ***** 「<span>」：インライン要素 ***** %>
                      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
                        <%= link_to tag.name, tagged_posts_path(tag.name), class: "text-white" %>
                        <%# ***** 「link_to tag.name, tagged_posts_path(tag.name), class: "text-white"」：画面へ値を出力する式 ***** %>
                      </span>
                      <%# ***** 「</span>」：spanタグ（インライン要素）の終了 ***** %>
                    <% end %>
                    <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
                  <% end %>
                  <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
                </td>
                <%# ***** 「</td>」：tdタグ（テーブルデータセル要素）の終了 ***** %>
                <td>
                <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
                  <%= link_to "表示", post_path(post), class: "btn btn-sm btn-info" %>
                  <%# ***** 「link_to "表示", post_path(post), class: "btn btn-sm btn-info"」：画面へ値を出力する式 ***** %>
                </td>
                <%# ***** 「</td>」：tdタグ（テーブルデータセル要素）の終了 ***** %>
              </tr>
              <%# ***** 「</tr>」：trタグ（テーブル行要素）の終了 ***** %>
            <% end %>
            <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
          </tbody>
          <%# ***** 「</tbody>」：tbodyタグ（テーブル本文要素）の終了 ***** %>
        </table>
        <%# ***** 「</table>」：tableタグ（テーブル要素）の終了 ***** %>
      <% else %>
      <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>

      <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>
        <p class="text-muted">このタグの投稿は見つかりません。</p>
        <%# ***** 「<p>【内容】</p>」：段落要素 ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <% end %>
      <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
      <%= link_to "投稿一覧へ戻る", posts_path, class: "btn btn-outline-secondary mt-3" %>
      <%# ***** 「link_to "投稿一覧へ戻る", posts_path, class: "btn btn-outline-secondary mt-3"」：画面へ値を出力する式 ***** %>
    </div>
    <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
  </div>
  <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
</div>
<%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
