<%# ***** admin/users/index のビュー ***** %>
<div class="container mt-4">
<%# ***** 「<div>」：汎用コンテナ要素 ***** %>
<%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
  <div class="d-flex justify-content-between align-items-center mb-4">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <h1>ユーザー管理</h1>
    <%# ***** 「<h1>【内容】</h1>」：見出し要素 ***** %>
    <%= link_to 'ユーザーを追加', new_admin_user_path, class: 'btn btn-primary' %>
    <%# ***** 「link_to 'ユーザーを追加', new_admin_user_path, class: 'btn btn-primary'」：画面へ値を出力する式 ***** %>
  </div>
  <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>

  <%= search_form_for @q, url: admin_users_path do |f| %>
  <%# ***** 「search_form_for @q, url: admin_users_path do |f|」：画面へ値を出力する式 ***** %>
    <div class="row mb-3">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <div class="col-md-4">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= f.label :name_cont, 'ユーザー名検索' %>
        <%# ***** 「f.label :name_cont, 'ユーザー名検索'」：画面へ値を出力する式 ***** %>
        <%# ***** フォーム入力欄セクション ***** %>
        <%= f.search_field :name_cont, class: 'form-control', placeholder: '名前で検索' %>
        <%# ***** 「f.search_field :name_cont, class: 'form-control', placeholder: '名前で検索'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
      <div class="col-md-4">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= f.label :email_cont, 'メールアドレス検索' %>
        <%# ***** 「f.label :email_cont, 'メールアドレス検索'」：画面へ値を出力する式 ***** %>
        <%= f.search_field :email_cont, class: 'form-control', placeholder: 'メールで検索' %>
        <%# ***** 「f.search_field :email_cont, class: 'form-control', placeholder: 'メールで検索'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
      <div class="col-md-4">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= f.label :role_eq, '権限' %>
        <%# ***** 「f.label :role_eq, '権限'」：画面へ値を出力する式 ***** %>
        <%= f.select :role_eq, User.roles.keys.map { |k| [I18n.t("enums.user.role.#{k}"), k] }, { include_blank: '全て' }, class: 'form-control' %>
        <%# ***** 「f.select :role_eq, User.roles.keys.map { |k| [I18n.t("enums.user.role.#{k}"), k] }, { include_blank: '全て' }, class: 'form-control'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
    </div>
    <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
    <div class="mb-3">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 送信ボタンセクション ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <%= f.submit '検索', class: 'btn btn-primary' %>
      <%# ***** 「f.submit '検索', class: 'btn btn-primary'」：画面へ値を出力する式 ***** %>
      <%= link_to 'リセット', admin_users_path, class: 'btn btn-secondary' %>
      <%# ***** 「link_to 'リセット', admin_users_path, class: 'btn btn-secondary'」：画面へ値を出力する式 ***** %>
    </div>
    <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
  <% end %>
  <%# ***** 「end」：Ruby式を実行する処理 ***** %>
  <%# ***** 一覧テーブルセクション ***** %>
  <table class="table table-striped">
  <%# ***** 「<table>」：テーブル要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <thead>
    <%# ***** 「<thead>」：テーブル見出し要素 ***** %>
      <tr>
      <%# ***** 「<tr>」：テーブル行要素 ***** %>
        <th>ID</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>名前</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>メールアドレス</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>権限</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>作成日</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
        <th>操作</th>
        <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
      </tr>
      <%# ***** 「</tr>」：trタグ（テーブル行要素）の終了 ***** %>
    </thead>
    <%# ***** 「</thead>」：theadタグ（テーブル見出し要素）の終了 ***** %>
    <tbody>
    <%# ***** 「<tbody>」：テーブル本文要素 ***** %>
    <%# ***** 一覧ループセクション ***** %>
      <% @users.each do |user| %>
      <%# ***** 「@users.each do |user|」：Ruby式を実行する処理 ***** %>
      <%# ***** 「each do |user|」: コレクションを順番に処理し、|user| で現在要素を受け取る反復構文 ***** %>
      <%# ***** 「@users」：処理対象となるコレクション ***** %>
      <%# ***** 「|user|」：各反復で取り出した要素を受け取るブロック引数 ***** %>
      <%# ***** 「each」：コレクションを順に処理するループ ***** %>
        <tr>
        <%# ***** 「<tr>」：テーブル行要素 ***** %>
          <td><%= user.id %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td><%= link_to user.name, admin_user_path(user) %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td><%= user.email %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td>
          <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
            <span class="badge badge-<%= user.admin? ? 'danger' : user.general? ? 'primary' : 'secondary' %>">
            <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
              <%= I18n.t("enums.user.role.#{user.role}") %>
              <%# ***** 「I18n.t("enums.user.role.#{user.role}")」：画面へ値を出力する式 ***** %>
            </span>
            <%# ***** 「</span>」：spanタグ（インライン要素）の終了 ***** %>
          </td>
          <%# ***** 「</td>」：tdタグ（テーブルデータセル要素）の終了 ***** %>
          <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
          <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
          <td>
          <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
            <%= link_to '詳細', admin_user_path(user), class: 'btn btn-sm btn-info' %>
            <%# ***** 「link_to '詳細', admin_user_path(user), class: 'btn btn-sm btn-info'」：画面へ値を出力する式 ***** %>
            <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-sm btn-warning' %>
            <%# ***** 「link_to '編集', edit_admin_user_path(user), class: 'btn btn-sm btn-warning'」：画面へ値を出力する式 ***** %>
            <% unless user == current_user %>
            <%# ***** 「unless user == current_user」：Ruby式を実行する処理 ***** %>
            <%# ***** 「unless (user == current_user)」: user == current_userが偽の場合に処理する条件分岐 ***** %>
            <%# ***** 「unless」：条件が偽の場合に処理する分岐 ***** %>
              <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
              <%# ***** 「link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger'」：画面へ値を出力する式 ***** %>
            <% end %>
            <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
          </td>
          <%# ***** 「</td>」：tdタグ（テーブルデータセル要素）の終了 ***** %>
        </tr>
        <%# ***** 「</tr>」：trタグ（テーブル行要素）の終了 ***** %>
      <% end %>
      <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
    </tbody>
    <%# ***** 「</tbody>」：tbodyタグ（テーブル本文要素）の終了 ***** %>
  </table>
  <%# ***** 「</table>」：tableタグ（テーブル要素）の終了 ***** %>

  <%= paginate @users %>
  <%# ***** 「paginate @users」：画面へ値を出力する式 ***** %>
</div>
<%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
